<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <form id="deleteForm" method="post">
            <input type="hidden" name="Id" id="deleteId" />
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalTitle">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center fw-bold" id="deleteModalBody">
                    Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-danger w-100 fw-bolder">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>