@page
@model Qtec.AccountManagement.Web.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
@{
    <div class="text-center">
        <h2>Your Account Lougout Successfully.</h2>
    </div>
    
}

