@page
@model Qtec.AccountManagement.Web.Pages.Identity.LoginModel
@{
    <div class="text-center">
        <h2>Login</h2>
    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <form method="post">
        <div class="mb-3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" placeholder="test@example.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-5">
            <label>Password</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="******" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-info form-control fw-bolder">Login</button>
    </form>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}