@page
@model Qtec.AccountManagement.Web.Pages.AccessDeniedModel
@{
    <h2 class="text-danger text-center mt-5">⛔ Access Denied</h2>
    <p class="text-center">You do not have permission to access this page.</p>
}